.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App Layout styles */
/* 0500FF */

/* Login Page styles */
.login_page{
  width: 100%;
  background-color: #0500FF;
  padding: 100px;
}
.login_page h1{
  color: white;
  font-weight: bold;
  /* top: 60px; */
}

.loginform_container{
  position: absolute;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  /* float: right; */

}

/* Desktop and laptop */
@media only screen and (min-width: 1200px) {

  
}
@media only screen and (max-width: 970px) {
    
}
@media only screen and (min-width: 970px) {
    
}
/* Laptop and tablet */
@media only screen and (min-width: 600px) {
  .login_page{
    width: 100%;
    /* padding: 100px; */
  }
  .login_page h1{
    color: white;
    font-weight: bold;
    /* top: 60px; */
  }
  
  .loginform_container{
    position: absolute;
    z-index: 1;
    width: 45%;
    float: right;
  
  }

  
}
/* Registration Page styles */
.registration_page{

}
.reg_container{

}
.reg_form_container{
  
}
/* Dashboard Page styles */
/*  */

/*  */

/*  */

/* History Page styles */


/* Profile Page styles */

